@import "jquery.mCustomScrollbar";
@import "utils/_mixins";
@import "utils/_vars";
@import "utils/_libs";
@import "utils/_fonts";

/* ----------------------------- Common styles ----------------------------- */
html {
	height: 100%;
}

body {
	font-family: $main-font;
	color: $astra;
}
	
.error-page {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

@import "modules/modules";