@import "jquery.mCustomScrollbar";
@import "utils/_mixins";
@import "utils/_vars";
@import "utils/_libs";
@import "utils/_fonts";

/* ----------------------------- Common styles ----------------------------- */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	height: 100%;
	box-sizing: border-box;
}

body {
	font-family: $main-font;
	color: $astra;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}
	
.error-page {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

@import "modules/modules";