.home-heading
	if(pageClass === 'error-page')
		h1.home-heading__title
			a(href="index.html").header__link Звезды ждут...
	else
		h1.home-heading__title Звезды ждут...
	p.home-heading__annotation Субъективный блог о человеке, земле, вселенной