main.main.main--error-page
	.container
		section.preview
			.preview__left.preview__left--error-page
				img(src="img/content/image404.png" alt="globe").preview__img
			.preview__right
				h2.preview__title.preview__title--error-page Страница не найдена
				a(href="index.html").preview__more Вернуться на главную.
		