if(pageClass === 'index-page')
	footer.home-footer
		span &copy; 2019 Звезды ждут...
		span Сайт создан: 
			a(href="https://vk.com/id185115507").home-footer__author darth
else
	footer.footer
		span &copy; 2019 Звезды ждут...