header.home-header
	.home-headig
		h1.home-headig__title Звезды ждут...
		p.home-headig__annotation Субъективный блог о человеке, земле, вселенной
	.menu
		nav.nav.home-nav
			ul.nav__list.home-nav__list
				li.nav__item
					a(href="#").nav__link.nav__active Главная
				li.nav__item
					a(href="blog.html").nav__link Человек
				li.nav__item
					a(href="blog.html").nav__link Земля
				li.nav__item
					a(href="blog.html").nav__link Вселенная
				li.nav__item
					a(href="author.html").nav__link Автор
		.search.home-search
			form(action="")
				input(type="search" placeholder="Поиск").search__string
				input(type="submit" value="").search__btn
