/* ------------------------------ Footer style ----------------------------- */
.home-footer {
	display: flex;
	justify-content: space-between;
	padding: 1em;
	background: $black-pearl url(../img/general/main-back.jpg);

	&__author {
		color: $astra;
		text-decoration: none;
		transition: $all-transit;
	}
	&__author:hover {
		color: $white;
		text-shadow: 0 0 0.2em $white-shadow, 0 0 0.5em $white-shadow;
	}
}

.footer {
	position: absolute;
	bottom: 0;
	width: 300px;
	padding: 1em;
	background: $black-pearl url(../img/general/main-back.jpg);
}