extends template/mainTemplate

block variables
	- var title = 'Звезды ждут | Страница не найдена'
	- var pageClass = 'error-page'
	- var pageCategory = 'Ошибка - Страница не найдена'

block content
	include pages/404/main