extends template/mainTemplate

block variables
	- var title = 'Звезды ждут | Технология'
	- var pageClass = 'technology-page'
	- var pageCategory = 'Категория - Технология'

block content
	include pages/blog/main