extends template/mainTemplate

block variables
	- var title = 'Звезды ждут | Вселенная'
	- var pageClass = 'universe-page'
	- var pageCategory = 'Категория - Вселенная'

block content
	include pages/blog/main