main.main
	.container
		section.manifest
			h1.manifest__title Манифест
			p.manifest__text Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Взобравшись, буквоград осталось имени всемогущая использовало букв текста инициал? Залетают, коварных буквенных встретил даль океана диких гор имени переулка агенство не, маленький, ему моей, пунктуация ручеек свое текстов. Реторический речью о, знаках, гор диких моей большого решила первую запятых семь путь над родного? Ipsum сбить подзаголовок сих которое алфавит родного выйти до, назад последний прямо над буквенных оксмокс, буквоград живет правилами на берегу проектах lorem, деревни они решила большой ведущими злых необходимыми, дороге. Вопроса своего возвращайся текстов несколько, взобравшись текст мир приставка толку предупреждал правилами всемогущая за использовало свое рукопись безопасную.

		section.preview
			.preview__left
				img(src="img/content/globe.jpg" alt="globe").preview__img
			.preview__right
				h1.preview__title
					a(href="single.html").preview__title-link Первая статья
				span.preview__date 25.04.2019
				p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Буквенных семантика взобравшись но послушавшись от всех сбить lorem даль повстречался она, эта заманивший, алфавит пунктуация даже, о толку рыбного вскоре составитель вдали жизни. Языкового пунктуация даль но вершину жизни свой инициал составитель, по всей продолжил жаренные единственное маленький, речью вопрос от всех реторический все парадигматическая решила! Ее, грустный ты он несколько большого заглавных текстами сбить снова города языком вершину лучше, рыбного продолжил.
				a(href="single.html").preview__more Жми - узнаешь больше.

		section.preview
			.preview__left
				img(src="img/content/globe.jpg" alt="globe").preview__img
			.preview__right
				h1.preview__title
					a(href="single.html").preview__title-link Вторая статья
				span.preview__date 25.04.2019
				p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Буквенных семантика взобравшись но послушавшись от всех сбить lorem даль повстречался она, эта заманивший, алфавит пунктуация даже, о толку рыбного вскоре составитель вдали жизни. Языкового пунктуация даль но вершину жизни свой инициал составитель, по всей продолжил жаренные единственное маленький, речью вопрос от всех реторический все парадигматическая решила! Ее, грустный ты он несколько большого заглавных текстами сбить снова города языком вершину лучше, рыбного продолжил.
				a(href="single.html").preview__more Жми - узнаешь больше.

		section.preview
			.preview__left
				img(src="img/content/globe.jpg" alt="globe").preview__img
			.preview__right
				h1.preview__title
					a(href="single.html").preview__title-link Третья статья
				span.preview__date 25.04.2019
				p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Буквенных семантика взобравшись но послушавшись от всех сбить lorem даль повстречался она, эта заманивший, алфавит пунктуация даже, о толку рыбного вскоре составитель вдали жизни. Языкового пунктуация даль но вершину жизни свой инициал составитель, по всей продолжил жаренные единственное маленький, речью вопрос от всех реторический все парадигматическая решила! Ее, грустный ты он несколько большого заглавных текстами сбить снова города языком вершину лучше, рыбного продолжил.
				a(href="single.html").preview__more Жми - узнаешь больше.

		section.preview
			.preview__left
				img(src="img/content/globe.jpg" alt="globe").preview__img
			.preview__right
				h1.preview__title
					a(href="single.html").preview__title-link Четвертая статья
				span.preview__date 25.04.2019
				p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Буквенных семантика взобравшись но послушавшись от всех сбить lorem даль повстречался она, эта заманивший, алфавит пунктуация даже, о толку рыбного вскоре составитель вдали жизни. Языкового пунктуация даль но вершину жизни свой инициал составитель, по всей продолжил жаренные единственное маленький, речью вопрос от всех реторический все парадигматическая решила! Ее, грустный ты он несколько большого заглавных текстами сбить снова города языком вершину лучше, рыбного продолжил.
				a(href="single.html").preview__more Жми - узнаешь больше.

		section.preview
			.preview__left
				img(src="img/content/globe.jpg" alt="globe").preview__img
			.preview__right
				h1.preview__title
					a(href="single.html").preview__title-link Пятая статья
				span.preview__date 25.04.2019
				p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Буквенных семантика взобравшись но послушавшись от всех сбить lorem даль повстречался она, эта заманивший, алфавит пунктуация даже, о толку рыбного вскоре составитель вдали жизни. Языкового пунктуация даль но вершину жизни свой инициал составитель, по всей продолжил жаренные единственное маленький, речью вопрос от всех реторический все парадигматическая решила! Ее, грустный ты он несколько большого заглавных текстами сбить снова города языком вершину лучше, рыбного продолжил.
				a(href="single.html").preview__more Жми - узнаешь больше.
