// Colors
$white: #ffffff;
$black: #000000;

$astra: #faedc0;
$black-pearl: #051721;
$kabul: #6a453c;
$hemp: rgba(106, 69, 60, 0.7);
$white-shadow: rgba(255, 255, 255, 0.5);

// Sizes
$base-font-size: 14px;
$content-size: 1140px;
$tablet-size: 1139px;
$tablet-size-small: 930px;
$phone-size: 767px;
$phone-size-middle: 500px;
$phone-size-small: 400px;
$phone-size-xsmall: 330px;

// Breakpoints
$breakpoints: (
  "phone"       : 400px,
  "phone-wide"  : 480px,
  "phablet"     : 560px,
  "tablet-small": 640px,
  "tablet"      : 768px,
  "tablet-wide" : 1024px,
  "desktop"     : 1248px,
  "desktop-wide": 1440px
);

// Fonts
$main-font: 'Roboto', sans-serif;