.menu
	nav.blog-nav
		ul.blog-nav__list
			+menuItemLink("index.html", "Главная")
			+menuItemLink("human.html", "Человек", "nav__active")
			+menuItemLink("earth.html", "Земля")
			+menuItemLink("universe.html", "Вселенная")
			+menuItemLink("technology.html", "Технология")