.menu
	nav.nav.home-nav
		ul.nav__list.home-nav__list
			+headerMenuLink("#", "Главная", "nav__active")
			+headerMenuLink("human.html", "Человек")
			+headerMenuLink("earth.html", "Земля")
			+headerMenuLink("universe.html", "Вселенная")
			+headerMenuLink("technology.html", "Технология")
	include ../search/search