.menu
	nav.nav.home-nav
		ul.nav__list.home-nav__list
			+headerMenuLink("#", "Главная", "nav__active")
			+headerMenuLink("blog.html", "Человек")
			+headerMenuLink("blog.html", "Земля")
			+headerMenuLink("blog.html", "Вселенная")
			+headerMenuLink("author.html", "Автор")
	include ../search/search