.scroll {
	width: $scroll-width;
	overflow-x: auto;
	display: flex;
	flex-direction: row;
	position: relative;
	background-color: $silver;

	.wrapper {
		width: 7000px;
		height: $wrapper-height;
		background: url(../img/general/bg-grid.png), url(../img/general/mars.jpg) no-repeat 0 25%;
		background-color: $astra;
		background-size: auto, cover;

		&--single-page {
			width: 2900px;
			background-size: auto, auto;
		}

		.block {
			padding: 10px;
			width: 660px;
			position: absolute;

			&-1,
			&-2,
			&-3,
			&-4,
			&-5,
			&-6,
			&-7 {
				background: url(../img/general/circle.png) no-repeat 0 100%;
				padding-left: 150px;
			}
			&-1 {
				left: 170px;
				top: 15vh;
				@media screen and (max-height: $tablet-height) {
					top: 15vh;
				}
			}
			&-2 {
				left: 1170px;
				top: 35vh;
				@media screen and (max-height: $tablet-height) {
					top: 15vh;
				}
			}
			&-3 {
				left: 2170px;
				top: 50vh;
				@media screen and (max-height: $tablet-height) {
					top: 15vh;
				}
			}
			&-4 {
				left: 3170px;
				top: 5vh;
				@media screen and (max-height: $tablet-height) {
					top: 15vh;
				}
			}
			&-5 {
				left: 4170px;
				top: 40vh;
				@media screen and (max-height: $tablet-height) {
					top: 15vh;
				}
			}
			&-6 {
				left: 5170px;
				top: 30vh;
				@media screen and (max-height: $tablet-height) {
					top: 15vh;
				}
			}
			&-7 {
				left: 6170px;
				top: 20vh;
				@media screen and (max-height: $tablet-height) {
					top: 15vh;
				}
			}

			.preview {
				background-color: $hemp;
				padding: 10px;
				border: 2px solid $scooter;
				border-radius: 5px;

				&__title {
					margin-top: 0;
					margin-bottom: 10px;
					line-height: 0.75;
				}
				&__title-link,
				&__more {
					color: $astra;
					text-transform: uppercase;
					transition: all 0.3s;
				}
				&__title-link:hover,
				&__more:hover {
					color: $white;
					text-shadow: 0 0 0.2em $white-shadow, 0 0 0.5em $white-shadow;
				}
				&__date {
					font-size: 12px;
				}
			}
		}

		.fragment {
			padding: 10px;
			width: 800px;
			position: absolute;

			&-1 {
				left: 70px;
				top: 5vh;
				@media screen and (max-height: $tablet-height) {
					top: 5vh;
				}
			}
			&-2 {
				left: 1010px;
				top: 5vh;
				@media screen and (max-height: $tablet-height) {
					top: 5vh;
				}
			}
			&-3 {
				left: 1950px;
				top: 5vh;
				@media screen and (max-height: $tablet-height) {
					top: 5vh;
				}
			}

			.article {
				background-color: $hemp;
				padding: 10px;
				border: 2px solid $scooter;
				border-radius: 5px;

				&__title {
					text-transform: uppercase;
				}
				&__date {
					font-size: 12px;
				}
			}
		}
	}
}