main.main.blog-main
	.sidebar
		include ../../modules/main-nav/blog-menu
		include ../../modules/search/search
	.scroll
		.wrapper
			.block.block-1
				section.preview
					h2
						a(href="single.html").preview__title-link Первая статья
					p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Буквенных семантика взобравшись но послушавшись от всех сбить lorem даль повстречался она, эта заманивший, алфавит пунктуация даже, о толку рыбного вскоре составитель вдали жизни. Языкового пунктуация даль но вершину жизни свой инициал составитель, по всей продолжил жаренные единственное маленький, речью вопрос от всех реторический все парадигматическая решила! Ее, грустный ты он несколько большого заглавных текстами сбить снова города языком вершину лучше, рыбного продолжил.
					a(href="single.html").preview__more Жми - узнаешь больше.
			.block.block-2
				section.preview
					h2
						a(href="single.html").preview__title-link Вторая статья
					p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Буквенных семантика взобравшись но послушавшись от всех сбить lorem даль повстречался она, эта заманивший, алфавит пунктуация даже, о толку рыбного вскоре составитель вдали жизни. Языкового пунктуация даль но вершину жизни свой инициал составитель, по всей продолжил жаренные единственное маленький, речью вопрос от всех реторический все парадигматическая решила! Ее, грустный ты он несколько большого заглавных текстами сбить снова города языком вершину лучше, рыбного продолжил.
					a(href="single.html").preview__more Жми - узнаешь больше.
			.block.block-3
				section.preview
					h2
						a(href="single.html").preview__title-link Третья статья
					p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Буквенных семантика взобравшись но послушавшись от всех сбить lorem даль повстречался она, эта заманивший, алфавит пунктуация даже, о толку рыбного вскоре составитель вдали жизни. Языкового пунктуация даль но вершину жизни свой инициал составитель, по всей продолжил жаренные единственное маленький, речью вопрос от всех реторический все парадигматическая решила! Ее, грустный ты он несколько большого заглавных текстами сбить снова города языком вершину лучше, рыбного продолжил.
					a(href="single.html").preview__more Жми - узнаешь больше.
			.block.block-4
				section.preview
					h2
						a(href="single.html").preview__title-link Четвертая статья
					p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Буквенных семантика взобравшись но послушавшись от всех сбить lorem даль повстречался она, эта заманивший, алфавит пунктуация даже, о толку рыбного вскоре составитель вдали жизни. Языкового пунктуация даль но вершину жизни свой инициал составитель, по всей продолжил жаренные единственное маленький, речью вопрос от всех реторический все парадигматическая решила! Ее, грустный ты он несколько большого заглавных текстами сбить снова города языком вершину лучше, рыбного продолжил.
					a(href="single.html").preview__more Жми - узнаешь больше.
			.block.block-5
				section.preview
					h2
						a(href="single.html").preview__title-link Пятая статья
					p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Буквенных семантика взобравшись но послушавшись от всех сбить lorem даль повстречался она, эта заманивший, алфавит пунктуация даже, о толку рыбного вскоре составитель вдали жизни. Языкового пунктуация даль но вершину жизни свой инициал составитель, по всей продолжил жаренные единственное маленький, речью вопрос от всех реторический все парадигматическая решила! Ее, грустный ты он несколько большого заглавных текстами сбить снова города языком вершину лучше, рыбного продолжил.
					a(href="single.html").preview__more Жми - узнаешь больше.
			.block.block-6
				section.preview
					h2
						a(href="single.html").preview__title-link Шестая статья
					p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Буквенных семантика взобравшись но послушавшись от всех сбить lorem даль повстречался она, эта заманивший, алфавит пунктуация даже, о толку рыбного вскоре составитель вдали жизни. Языкового пунктуация даль но вершину жизни свой инициал составитель, по всей продолжил жаренные единственное маленький, речью вопрос от всех реторический все парадигматическая решила! Ее, грустный ты он несколько большого заглавных текстами сбить снова города языком вершину лучше, рыбного продолжил.
					a(href="single.html").preview__more Жми - узнаешь больше.
			.block.block-7
				section.preview
					h2
						a(href="single.html").preview__title-link Седьмая статья
					p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Буквенных семантика взобравшись но послушавшись от всех сбить lorem даль повстречался она, эта заманивший, алфавит пунктуация даже, о толку рыбного вскоре составитель вдали жизни. Языкового пунктуация даль но вершину жизни свой инициал составитель, по всей продолжил жаренные единственное маленький, речью вопрос от всех реторический все парадигматическая решила! Ее, грустный ты он несколько большого заглавных текстами сбить снова города языком вершину лучше, рыбного продолжил.
					a(href="single.html").preview__more Жми - узнаешь больше.
